HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
twitter-to-kafka-service/src/main/resources/twitter4j.properties
config-server/config-server/logs/config-server.log
config-server/config-server/logs/archived/config-server-log.2021-11-01.0.log
config-server/twitter-to-kafka-service/logs/twitter-to-kafka-service.log
docker-compose/docker-logs/twitter-to-kafka-service.log
twitter-to-kafka-service/twitter-to-kafka-service/logs/twitter-to-kafka-service.log
twitter-to-kafka-service/twitter-to-kafka-service/logs/archived/twitter-to-kafka-service-log.2021-09-14.0.log
twitter-to-kafka-service/twitter-to-kafka-service/logs/archived/twitter-to-kafka-service-log.2021-11-01.0.log
config-server/src/main/resources/bootstrap.yml
